<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 style="color:red;">Selected functions will run based on user request after the user accesses the /nlp endpoint as a post request.
For an input please provide a string in the JSON format such as: "{
    "text": "Lightning Paradise was the local hangout joint where the group usually ended up spending the night.",
    "functions": ["Sentiment", "Filtered Sentence"]
}" </h4>
</body>
</html>
